@inject IHtmlLocalizer<ModelResource> ModeLocalizer
@using StudioBMS
@model IList<PersonModel>
@{
    Layout = "Dashboard/_TableLayout";
}

@section tableToolbar
{
    <a asp-area="Clients" asp-controller="Clients" asp-action="Create" class="btn btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i> @ModeLocalizer["Create"]
    </a>
}

@section tableHeader
{
    <th>@ModeLocalizer["FirstName"]</th>
    <th>@ModeLocalizer["LastName"]</th>
    <th>@ModeLocalizer["Phone"]</th>
    <th>@ModeLocalizer["EMail"]</th>
    <th class="col-xs-2 text-center col-actions">@ModeLocalizer["Actions"]</th>
}

@section tableBody
{
    @foreach (var person in Model)
    {
        <tr>
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
            <td>@person.PhoneNumber</td>
            <td>@person.Email</td>
            <td>
                <a asp-area="Statistics" asp-controller="Statistics" asp-action="Index" asp-route-category="@StringConstants.CustomersCategory" asp-route-ids="@person.Id" class="btn btn-sm btn-primary"><i class="fa fa-bar-chart"></i></a>
                <a asp-area="Clients" asp-controller="Clients" asp-action="Edit" asp-route-id="@person.Id" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></a>
                <a asp-area="Clients" asp-controller="Clients" asp-action="Delete" asp-route-id="@person.Id" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    }
}
