@inject IHtmlLocalizer<ModelResource> ModeLocalizer
@model IList<PersonModel>
@{
    Layout = "Dashboard/_TableLayout";
}

@section tableHeader
{
    <th>@ModeLocalizer["FirstName"]</th>
    <th>@ModeLocalizer["LastName"]</th>
    <th>@ModeLocalizer["Phone"]</th>
    <th>@ModeLocalizer["EMail"]</th>
    <th>@ModeLocalizer["Actions"]</th>
}

@section tableBody
{
    @foreach (var person in Model)
    {
        <td>@person.FirstName</td>
        <td>@person.LastName</td>
        <td>@person.PhoneNumber</td>
        <td>@person.Email</td>
        <td>
            <a class="btn btn-sm btn-primary"><i class="fa fa-bar-chart"></i></a>
            <a class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
        </td>
    }
}
