@using Microsoft.ApplicationInsights.AspNetCore
@using StudioBMS.Messages
@inject JavaScriptSnippet JavaScriptSnippet
@inject IHtmlLocalizer<MessageResource> MessageLocalizer
@inject IHtmlLocalizer<PageTitleResource> TitleLocalizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudioBMS</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        @*<link rel="stylesheet" href="~/css/bootstrap.min.css" />*@
        <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-theme-cosmo/cosmo.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/lib/metisMenu/dist/metisMenu.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.css" />
        <link rel="stylesheet" href="~/lib/chosen-bootstrap/chosen.bootstrap.css"/>
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-inverse nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-area="Settings" asp-controller="AccountSettings" , asp-action="Index">StudioBMS</a>
            </div>
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
                    <li>
                        <a asp-area="Settings" asp-controller="AccountSettings" asp-action="Index">@TitleLocalizer["Settings"]</a>
                    </li>
                    <li>
                        <a href="#" onclick="document.getElementById('logoutForm').submit();">@TitleLocalizer["LogOut"]</a>
                    </li>
                </ul>
            </form>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse collapse">
                    <ul class="nav in metismenu" id="side-menu">
                        <li>
                            <a asp-area="Journals" asp-controller="Journals" asp-action="Index"><i class="fa fa-calendar"></i> @TitleLocalizer["Journal"]</a>
                        </li>
                        <li>
                            <a asp-area="Orders" asp-controller="Orders" asp-action="Index"><i class="fa fa-shopping-cart "></i> @TitleLocalizer["Orders"]</a>
                        </li>
                        <li>
                            <a asp-area="Statistics" asp-controller="Statistics" asp-action="Index"><i class="fa fa-bar-chart"></i> @TitleLocalizer["Statistics"]</a>
                        </li>
                        <li>
                            <a asp-area="Clients" asp-controller="Clients" asp-action="Index"><i class="fa fa-address-card"></i> @TitleLocalizer["Clients"]</a>
                        </li>
                        <li>
                            <a asp-area="Workers" asp-controller="Workers" asp-action="Index"><i class="fa fa-users"></i> @TitleLocalizer["Workers"]</a>
                        </li>
                        <li>
                            <a asp-area="Services" asp-controller="Services" asp-action="Index"><i class="fa fa-briefcase"></i> @TitleLocalizer["Services"]</a>
                        </li>
                        <li>
                            <a asp-area="Workshops" asp-controller="Workshops" asp-action="Index"><i class="fa fa-building"></i> @TitleLocalizer["Workshops"]</a>
                        </li>
                        @*<li>
                                <a href="#" class="has-arrow">
                                    <span class="fa fa-bar-chart-o fa-fw"></span>
                                    Charts
                                </a>
                                <ul class="nav nav-second-level collapse">
                                    <li>
                                        <a href="#">Flot Charts</a>
                                    </li>
                                    <li>
                                        <a href="#">Morris.js Charts</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-table fa-fw"></i> Tables</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-edit fa-fw"></i> Forms</a>
                            </li>
                            <li>
                                <a href="#" class="has-arrow">
                                    <i class="fa fa-wrench fa-fw"></i> UI Elements
                                </a>
                                <ul class="nav nav-second-level collapse">
                                    <li>
                                        <a href="#">Panels and Wells</a>
                                    </li>
                                    <li>
                                        <a href="#">Buttons</a>
                                    </li>
                                    <li>
                                        <a href="#">Notifications</a>
                                    </li>
                                    <li>
                                        <a href="#">Typography</a>
                                    </li>
                                    <li>
                                        <a href="#"> Icons</a>
                                    </li>
                                    <li>
                                        <a href="#">Grid</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#" class="has-arrow">
                                    <i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown
                                </a>
                                <ul class="nav nav-second-level collapse">
                                    <li>
                                        <a href="#">Second Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Second Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#" class="has-arrow">Third Level</a>
                                        <ul class="nav nav-third-level collapse">
                                            <li>
                                                <a href="#">Third Level Item</a>
                                            </li>
                                            <li>
                                                <a href="#">Third Level Item</a>
                                            </li>
                                            <li>
                                                <a href="#">Third Level Item</a>
                                            </li>
                                            <li>
                                                <a href="#">Third Level Item</a>
                                            </li>
                                        </ul>
                                        <!-- /.nav-third-level -->
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#" class="has-arrow"><i class="fa fa-files-o fa-fw"></i> Sample Pages</a>
                                <ul class="nav nav-second-level collapse">
                                    <li>
                                        <a href="blank.html">Blank Page</a>
                                    </li>
                                    <li>
                                        <a href="login.html">Login Page</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>*@
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
        </nav>
        <div class="page-wrapper">
            <div class="container-fluid">
                @if (ViewData["H1"] != null)
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <h2>@ViewData["H1"]</h2>
                            <hr />
                            @{
                                var message = (MessageViewModel)ViewData["Message"];
                                if (message!=null && !string.IsNullOrEmpty(message.Message))
                                {
                                    <div class="alert @message.GetClass()">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <p>@MessageLocalizer[message.Message]!</p>
                                    </div>    
                                }
                            }
                            
                        </div>
                    </div>
                }
                @RenderBody()
            </div>
        </div>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
        <script type="text/javascript" src="~/lib/moment/min/moment.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/lib/metisMenu/dist/metisMenu.js"></script>
        <script src="~/lib/bootstrap-table/dist/bootstrap-table.js"></script>
        <script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-uk-UA.min.js"></script>
        <script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-ru-RU.min.js"></script>
        <script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-en-US.min.js"></script>
        <script src="~/lib/bootstrap-table/dist/extensions/cookie/bootstrap-table-cookie.js"></script>
        <script src="~/lib/chosen/chosen.jquery.js"></script>
        <script src="~/lib/chart.js/dist/Chart.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        $(document).ready(function () {
            $("#side-menu").metisMenu();
        });
    </script>
    @RenderSection("Scripts", false)

</body>
</html>
