@inject IHtmlLocalizer<ModelResource> ModeLocalizer
@using StudioBMS
@model IList<WorkshopModel>
@{
    Layout = "Dashboard/_TableLayout";
}

@section tableToolbar
{
    @if (User.IsInRole(StringConstants.AdministratorRole))
    {
        <a asp-area="Workshops" asp-controller="Workshops" asp-action="Create" class="btn btn-primary">
            <i class="fa fa-plus" aria-hidden="true"></i> @ModeLocalizer["Create"]
        </a>
    }
}

@section tableHeader{
    <th class="col-xs-2">@ModeLocalizer["Title"]</th>
    <th class="col-xs-3">@ModeLocalizer["Address"]</th>
    <th class="col-xs-2">@ModeLocalizer["Phone"]</th>
    <th class="col-xs-2">@ModeLocalizer["EMail"]</th>
    <th class="col-xs-2">@ModeLocalizer["WorkingHours"]</th>
    @if (User.IsInRole(StringConstants.AdministratorRole))
    {
        <th class="col-xs-2 text-center col-actions">@ModeLocalizer["Actions"]</th>
    }
}

@section tableBody{
    @foreach (var workshop in Model)
    {

        <tr>
            <td>@workshop.Title</td>
            <td>@workshop.City, @workshop.Address</td>
            <td>@workshop.PhoneNumber</td>
            <td>@workshop.Email</td>
            <td>@Html.Raw(workshop.HtmlTimetableString)</td>
            @if (User.IsInRole(StringConstants.AdministratorRole))
            {
                <td>
                    <a class="btn btn-sm btn-primary" asp-area="Workshops" asp-controller="Workshops" asp-action="TimeIndex" asp-route-workshopid="@workshop.Id"><i class="fa fa-clock-o"></i></a>
                    <a class="btn btn-sm btn-primary" asp-area="Workshops" asp-controller="Workshops" asp-action="Edit" asp-route-id="@workshop.Id"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                </td>
            }
        </tr>
                    }
}