@inject IHtmlLocalizer<ModelResource> ModeLocalizer
@using System.Globalization
@model IList<WorkshopModel>
@{
    Layout = "Dashboard/_TableLayout";
}

@section tableHeader{
    <th class="col-xs-2">@ModeLocalizer["Title"]</th>
    <th class="col-xs-3">@ModeLocalizer["Address"]</th>
    <th class="col-xs-2">@ModeLocalizer["Phone"]</th>
    <th class="col-xs-2">@ModeLocalizer["EMail"]</th>
    <th class="col-xs-2">@ModeLocalizer["WorkingHours"]</th>
    <th class="col-xs-1 col-actions">@ModeLocalizer["Actions"]</th>
}

@section tableBody{
    @foreach (var workshop in Model)
    {

        <tr>
            <td>@workshop.Title</td>
            <td>@workshop.City, @workshop.Address</td>
            <td>@workshop.PhoneNumber</td>
            <td>@workshop.Email</td>
            <td>
                @{
                var weekday = workshop.TimeTables.FirstOrDefault(i=>i.WeekDay == DateTime.Now.DayOfWeek);
                if (weekday == null)
                    {
                    weekday = workshop.TimeTables.FirstOrDefault();
                    }
                    @Html.Raw(CultureInfo.CurrentCulture.DateTimeFormat.AbbreviatedDayNames[(byte)weekday.WeekDay]+" ")
                    @Html.Raw(weekday.Start.ToString("t") + "-")
                    @Html.Raw(weekday.End.ToString("t"))
                }
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-area="Workshops" asp-controller="Workshops" asp-action="TimeIndex" asp-route-workshopid="@workshop.Id"><i class="fa fa-clock-o"></i></a>
                <a class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    }
}