@using Microsoft.AspNetCore.Mvc.Localization
@using StudioBMS.Models.ManageViewModels
@using StudioBMS.Models.ViewModels.ChangePasswordViewModel
@using StudioBMS.Pages.Titles
@inject IHtmlLocalizer<ChangePasswordViewModelResource> ModelLocalizer
@inject IHtmlLocalizer<PageTitleResource> TitleLocalizer
@model ChangePasswordViewModel
@{
    var title = TitleLocalizer["ChangePassword"];
    ViewData["Title"] = title;
    ViewData["H1"] = title;
}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body row">
                <form asp-area="Settings" asp-controller="AccountSettings" asp-action="ChangePassword" method="post" class="form-horizontal col-lg-6 col-lg-offset-3">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger form-group"></div>
                    <div class="form-group">
                        <label>@ModelLocalizer[nameof(Model.OldPassword)]</label>
                        <input asp-for="OldPassword" class="form-control" placeholder="@ModelLocalizer[nameof(Model.OldPassword)]" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>@ModelLocalizer[nameof(Model.NewPassword)]</label>
                        <input asp-for="NewPassword" class="form-control" placeholder="@ModelLocalizer[nameof(Model.NewPassword)]" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>@ModelLocalizer[nameof(Model.ConfirmPassword)]</label>
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="@ModelLocalizer[nameof(Model.ConfirmPassword)]" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-4">
                            <button type="submit" class="btn btn-primary btn-block">@TitleLocalizer["Submit"]</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}