@model StudioBMS.Business.DTO.Models.ViewModels.JournalViewModel
@inject IHtmlLocalizer<ModelResource> ModeLocalizer
@{
    var workshops = ViewData["Workshops"] as IList<WorkshopModel>;
    var workers = ViewData["Workers"] as IList<PersonModel>;
    var date = ViewData["Date"] as DateTime?;
    date = date ?? DateTime.Now;
}
<form class="row" asp-area="Journals" asp-controller="Journals" asp-action="Index" asp-route-date="">
    <div class="col-lg-3">
        <select class="chosen">
            @foreach (var workshop in workshops ?? new List<WorkshopModel>())
            {
                <option>@workshop.Title (@workshop.City)</option>
            }
        </select>
    </div>
    <div class="col-lg-6">
        <select class="chosen" multiple="multiple" data-selmax="4" asp-for="WorkerIds">
            @foreach (var worker in workers ?? new List<PersonModel>())
            {
                <option value="@worker.Id">@worker.LastName @worker.FirstName[0]. (@ModeLocalizer[worker.Role.Name]) </option>
            }
        </select>
    </div>
    <div class="col-lg-2">
        <div id="journal-picker" class="input-group datetimepicker" data-locale="@CultureInfo.CurrentCulture.Name" data-format="YYYY-MM-DD">
            <input class="form-control" asp-for="Date" asp-format="{0:yyyy-MM-dd}" value="@date.Value.ToString("yyyy-MM-dd")" />
            <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
    </div>
    <div class="col-lg-1 no-padding">
        <button type="submit" class="btn btn-primary"><i class="fa fa-filter"></i> @ModeLocalizer["Show"]</button>
    </div>
</form>