@inject IHtmlLocalizer<PageTitleResource> TitleLocalizer
@inject IHtmlLocalizer<ModelResource> ModeLocalizer
@{
    var workshops = (IList<WorkshopModel>)ViewData["Workshops"];
    var workers = (IList <PersonModel>)ViewData["Workers"];
    var date = (DateTime)ViewData["Date"];
    ViewData["Title"] = TitleLocalizer["Journal"];
}
<div class="row" style="padding: 10px 0;">
    <div class="col-lg-1">
        <a class="btn btn-block btn-primary"><i class="fa fa-angle-left"></i> @DateTime.Now.ToString("d")</a>
    </div>
    <div class="col-lg-10">
        <form class="row" asp-area="Journals" asp-controller="Journals" asp-action="Index">
            <div class="col-lg-3">
                <select class="chosen">
                    @foreach (var workshop in workshops)
                    {
                        <option>@workshop.Title (@workshop.City)</option>
                    }
                </select>
            </div>
            <div class="col-lg-6">
                <select class="chosen" multiple="multiple">
                    @foreach (var worker in workers)
                    {
                        <option value="@worker.Id">@worker.LastName @worker.FirstName[0]. (@ModeLocalizer[worker.Role.Name]) </option>
                    }
                </select>
            </div>
            <div class="col-lg-2">
                <div class="input-group">
                    <input class="form-control" />
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-lg-1">
                <button type="submit" class="btn btn-primary"><i class="fa fa-filter"></i> Show</button>
            </div>
        </form>
    </div>
    <div class="col-lg-1">
        <a class="btn btn-block btn-primary">@DateTime.Now.ToString("d") <i class="fa fa-angle-right"></i></a>
    </div>
</div>
<div class="row">
    @for (int i = 0; i < 4; i++)
    {
        <div class="col-lg-3">
            @Html.Partial("_PersonJournalPartial")
        </div>
    }
</div>