@inject IHtmlLocalizer<PageTitleResource> TitleLocalizer
@inject IHtmlLocalizer<ModelResource> ModeLocalizer
@using StudioBMS.Business.DTO.Models.ViewModels
@model IList<PersonModel>
@{
    ViewData["Title"] = TitleLocalizer["Journal"];
    var journalModel = ViewData["JournalModel"] as JournalViewModel;
    var date = ViewData["Date"] as DateTime?;
    date = date ?? DateTime.Now;
    var isWorker = (bool)ViewData["IsWorker"];
}
<div class="row" style="padding: 10px 0;">
    <div class="col-lg-1">
        
        <a class="btn btn-block btn-primary" asp-area="Journals" asp-controller="Journals" asp-action="Index" asp-route-date="@(date.Value.AddDays(-1).ToString("yyyy-MM-dd"))"><i class="fa fa-angle-left"></i> @date.Value.AddDays(-1).ToString("d")</a>
    </div>
    <div class="col-lg-10">
        @Html.Partial("_JournalPartial", journalModel, ViewData)
    </div>
    <div class="col-lg-1">
        <a class="btn btn-block btn-primary" asp-area="Journals" asp-controller="Journals" asp-action="Index" asp-route-date="@(date.Value.AddDays(1).ToString("yyyy-MM-dd"))">@date.Value.AddDays(1).ToString("d") <i class="fa fa-angle-right"></i></a>
    </div>
</div>
<div class="row">
    @foreach (var worker in Model.Take(4))
    {
        if (isWorker)
        {
            for (int i = 0; i < 4; i++)
            {
                ViewData["Date"] = date.Value.AddDays(i);
                <div class="col-lg-3">
                    @Html.Partial("_PersonJournalPartial", worker,ViewData)
                </div>
            }
        }
        else
        {
            <div class="col-lg-3">
                @Html.Partial("_PersonJournalPartial", worker)
            </div>
        }
    }
</div>