@using System.Globalization
@using StudioBMS.Business.DTO.Models
@model OrderViewModel
@inject IHtmlLocalizer<ModelResource> ModelLocalizer
@{
    var customers = ViewData["Clients"] as IList<PersonModel>;
    var workshops = ViewData["Workshops"] as IList<WorkshopModel>;
    var performers = ViewData["Performers"] as IList<PersonModel>;
    var services = ViewData["Services"] as IList<ServiceModel>;
}

@if (User.Identity.IsAuthenticated)
{
    if (!User.IsInRole("Client"))
    {
        <div class="form-group">
            <label>@ModelLocalizer["Customer"]</label>
            <select class="chosen" asp-for="CustomerId">
                @foreach (var customer in customers ?? new List<PersonModel>())
                {
                    <option value="@customer.Id"> @customer.FirstName @customer.LastName</option>
                }
            </select>
        </div>
    }
    else
    {
        <input type="hidden" asp-for="CustomerId" />
    }
}
@if (!User.Identity.IsAuthenticated || User.IsInRole("Client") || User.IsInRole("Administrator"))
{
    <div class="form-group">
        <label>@ModelLocalizer["Workshop"]</label>
        <select class="chosen" asp-for="WorkshopId">
            @foreach (var workshop in workshops ?? new List<WorkshopModel>())
                {
                <option value="@workshop.Id">@workshop.Title (@workshop.City)</option>
            }
        </select>
    </div>
}
else
{
    <input type="hidden" asp-for="WorkshopId" />
}
@if (!User.Identity.IsAuthenticated || User.IsInRole("Client") || User.IsInRole("Manager") || User.IsInRole("Administrator"))
{
    <div class="form-group">
        <label>@ModelLocalizer["Master"]</label>
        <select class="chosen" asp-for="PerformerId">
            @foreach (var performer in performers ?? new List<PersonModel>())
                {
                <option value="@performer.Id">@performer.FirstName @performer.LastName (@ModelLocalizer[performer.Role.Name])</option>
            }
        </select>
    </div>
}
else
{
    <input type="hidden" asp-for="PerformerId" />
}
<div class="form-group">
    <label>@ModelLocalizer["Services"]</label>
    <select class="chosen" multiple="multiple" asp-for="ServiceIds">
        @foreach (var service in services ?? new List<ServiceModel>())
            {
            <option value="@service.Id">
                @if (CultureInfo.CurrentCulture.Name == "en")
                {
                    @service.EnName
                }
                @if (CultureInfo.CurrentCulture.Name == "ru")
                {
                    @service.RuName
                }
                @if (CultureInfo.CurrentCulture.Name == "uk")
                {
                    @service.UkName
                }
            </option>
        }
    </select>
</div>
<div class="form-group">
    <label>@ModelLocalizer["DateAndTime"]</label>
    <div class="input-group datetimepicker" data-locale="@CultureInfo.CurrentCulture.Name" data-mindate="@($"{DateTime.Now.AddMinutes(30):yyyy-MM-dd HH:mm}")">
        <input class="form-control" asp-for="Date" asp-format="{0:g}" />
        <span class="input-group-addon">
            <i class="fa fa-calendar"></i>
        </span>
    </div>
</div>
@if (!User.Identity.IsAuthenticated)
{
    <hr />
    <div class="row">
        <div class="col-md-6 form-group">
            <label>@ModelLocalizer["FirstName"]</label>
            <input asp-for="FirstName" class="form-control"/>
        </div>
        <div class="col-md-6 form-group">
            <label>@ModelLocalizer["LastName"]</label>
            <input asp-for="LastName" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label>@ModelLocalizer["EMail"]</label>
        <input class="form-control" asp-for="EMail" />
    </div>
    <div class="form-group">
        <label>@ModelLocalizer["Phone"]</label>
        <input class="form-control" asp-for="Phone" />
    </div>
}
<div class="form-group row">
    <div class="col-lg-6 col-lg-offset-3">
        <button type="submit" class="btn btn-block btn-primary">@ModelLocalizer["Confirm"]</button>
    </div>
</div>
