@using Microsoft.ApplicationInsights.AspNetCore
@inject JavaScriptSnippet JavaScriptSnippet
@inject IHtmlLocalizer<PageTitleResource> TitleLocalizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudioBMS</title>
    <link href="~/images/favicon.ico" rel="icon">
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-theme-cosmo/cosmo.min.css" />
        <link rel="stylesheet" href="~/css/chosen.bootstrap.css" />
        <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">StudioBMS</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">@TitleLocalizer["Main"]</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a asp-area="Orders" asp-controller="Orders" asp-action="Create">@TitleLocalizer["CreateOrder"]</a>
                        </li>
                        <li>
                            <a asp-area="Orders" asp-controller="Orders" asp-action="Index">@TitleLocalizer["Orders"]</a>
                        </li>
                        if (!User.IsInRole(StringConstants.CustomerRole))
                        {
                            <li>
                                <a asp-area="Journals" asp-controller="Journals" asp-action="Index">@TitleLocalizer["Journal"]</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Order">@TitleLocalizer["CreateOrder"]</a>
                        </li>
                    }
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/lib/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="~/lib/moment/locale/ru.js"></script>
        <script type="text/javascript" src="~/lib/moment/locale/en-gb.js"></script>
        <script type="text/javascript" src="~/lib/moment/locale/uk.js"></script>
        <script type="text/javascript" src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/lib/chosen/chosen.jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", false)
</body>
</html>