@using StudioBMS.Business.DTO.Models.ViewModels
@using StudioBMS.Messages
@model IList<OrderModel>
@inject IHtmlLocalizer<ModelResource> ModeLocalizer
@inject IHtmlLocalizer<MessageResource> MessageLocalizer
@{
    Layout = "Dashboard/_TableLayout";
}

@section tableToolbar
{
    <a asp-area="Orders" asp-controller="Orders" asp-action="Create" class="btn btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i> @ModeLocalizer["Create"]
    </a>
}

@section tableHeader
{
    <th>#</th>
    <th>@ModeLocalizer["Status"]</th>
    <th>@ModeLocalizer["Client"]</th>
    <th>@ModeLocalizer["Performer"]</th>
    <th>@ModeLocalizer["Services"]</th>
    <th>@ModeLocalizer["DateAndTime"]</th>
    <th>@ModeLocalizer["Price"]/@ModeLocalizer["Balance"]</th>
    <th class="text-center col-actions">@ModeLocalizer["Actions"]</th>
}

@section tableBody
{
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.OrderNumber</td>
            <td>@ModeLocalizer[order.Status.Name]</td>
            <td>@order.Customer.FullName</td>
            <td>@order.Performer.FullName<br />@order.Workshop.TitleWithCity</td>
            <td>@Html.Raw(string.Join("<br />", order.Services.Select(i => i.Title)))</td>
            <td>@order.Date.ToString("g")</td>
            <td>@order.Price/@order.Balance<br />(@ModeLocalizer[order.PaidStatus])</td>
            <td>
                @if (User.IsInRole(StringConstants.AdministratorRole) || User.IsInRole(StringConstants.ManagerRole) || !User.IsInRole(StringConstants.CustomerRole) && order.Date.Date == DateTime.Now.Date)
                {
                    if (order.Status.Name != StringConstants.DoneStatus && order.Status.Name != StringConstants.DeclinedStatus)
                    {
                        <a asp-area="Orders" asp-controller="Orders" asp-action="Done" asp-route-id="@order.Id" class="btn btn-sm btn-success"><i class="fa fa-fw fa-check"></i></a>
                    }
                }
                @if (!order.IsPaid && order.IsActive)
                {
                    if (User.IsInRole(StringConstants.CustomerRole))
                    {
                        var liqPay = LiqPayViewModel.GetModel(order);
                        liqPay.ResultUrl = Url.Action("Callback", "Orders", null, Context.Request.Scheme);
                        liqPay.Description = MessageLocalizer["OrderDescription", order.Services.Select(i => i.Title)].Value;
                        <form method="POST" class="text-center" accept-charset="utf-8" action="https://www.liqpay.com/api/3/checkout" style="display: inline-block">
                            <input type="hidden" name="data" value="@liqPay.Data"/>
                            <input type="hidden" name="signature" value="@liqPay.Signature"/>
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="fa fa-fw fa-money"></i>
                            </button>
                        </form>
                    }
                    else if(User.IsInRole(StringConstants.AdministratorRole) || User.IsInRole(StringConstants.ManagerRole))
                    {
                        <a asp-area="Orders" asp-controller="Orders" asp-action="Payment" asp-route-id="@order.Id" class="btn btn-sm btn-primary"><i class="fa fa-fw fa-money"></i></a>
                    }
                }
                @if (order.IsActive || User.IsInRole(StringConstants.AdministratorRole) || User.IsInRole(StringConstants.ManagerRole))
                {
                    <a asp-area="Orders" asp-controller="Orders" asp-action="Edit" asp-route-id="@order.Id" class="btn btn-sm btn-info"><i class="fa fa-fw fa-pencil"></i></a>
                }

                @if (order.Status.Name != StringConstants.DoneStatus && order.Status.Name != StringConstants.DeclinedStatus)
                    {
                    <a asp-area="Orders" asp-controller="Orders" asp-action="Decline" asp-route-id="@order.Id" class="btn btn-sm btn-danger"><i class="fa fa-fw fa-close"></i></a>
                }
            </td>

        </tr>
    }
}
